<h1>Sign up</h1>


<%= form_for @user do |f|%>
  <%= render partial: "layouts/error", locals: {object: @user} %>
 
  <%= render partial: "users/user", locals: {f: f, user: @user} %>

<% end %>