<h1><%= @user.name %></h1>

<% if @user.is_organization %>
  <%= "#{@user.name}'s make the following comments:" %>
<% else %>
  <%= "#{@user.name}'s has the following comments:" %>
<% end %>

  <ul>
    <% @comments.each do |c|%>
        <li><%= c.content %><li>
    <% end %>
  </ul>









