<h1><%= "Hello #{@user.name}!" %></h1>

<% if @user.is_organization %>
  <%= "#{@user.name}'s make #{@comments.size} following comment(s):" %>
<% else %>
  <%= "#{@user.name}'s has #{@comments.size} following comment(s):" %>
<% end %>

  <ul>
    <% @comments.each do |c|%>
        <li><%= c.content %><li>
    <% end %>
  </ul>









