<% if object.errors.any?%>
<h2>
  <%= pluralize(object.errors.count, "error") %> prohibited this comment from being saved:
</h2>

<ul>
<% object.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>